extends ../layouts/layout_noheader
block layout-content
  h1 Suppliers List
  script.
    $('.Details').click(function () {
    var elmId = $(this).attr("id");
    getDetails(elmId);
    });
    $('.Edit').click(function () {
    var elmId = $(this).attr("id");
    getEdit(elmId);
    });
    $('.Delete').click(function () {
    var elmId = $(this).attr("id");
    getDelete(elmId);
    });
    $('.Create').click(function () {
    var elmId = $(this).attr("id");
    getCreate(elmId);
    });
    function getCreate(id) {
    $.get('/Suppliers/Create', {}, function (data, status) {
    $("#maindiv").html(data);
    })
    }
    function getDelete(id) {
    $.get('/Suppliers/delete', { "id": id }, function (data, status) {
    $("#maindiv").html(data);
    })
    }
    function getEdit(id) {
    $.get('/Suppliers/edit', { "id": id }, function (data, status) {
    $("#maindiv").html(data);
    })
    }
    function getDetails(id) {
    $.get('/Suppliers/details', { "id": id }, function (data, status) {
    $("#maindiv").html(data);
    })
    }
  p
    button#Create.Create.btn.btn-primary(type='button') Create
  table.table
    thead
      tr
        th
          | SupplierName
        th
          | SupplierPhoneNumber
        th
    tbody
      each item in suppliers_test
        tr
          td
            | #{item.SupplierName}
          td
            | #{item.SupplierPhoneNumber}
          td
            button.Edit.btn.btn-primary(type='button' id=item.SupplierID) Edit
            |  |
            button.Details.btn.btn-primary(type='button' id=item.SupplierID) Details
            |  |
            button.Delete.btn.btn-primary(type='button' id=item.SupplierID) Delete
            |  |
