<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="css/main.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">
</head>
<body>
    <div id="nevbar">
        <div id="nev_left">
            <div id="logo">
                <div id="logo_name">ALIZAPPA</div>
                <div id="logo_copyright">© 2022 - AliZappa</div>
            </div>
            <a href="shops"><div class="nev_item">Shops</div></a>
            <a href="guitars"><div class="nev_item">Guitars</div></a>
            <a href="phones"><div class="nev_item">Phones</div></a>
            <a href="tvs"><div class="nev_item">Tvs</div></a>
        </div>
        <div id="register_shop_btn" onclick="$('#exampleModal').modal('show')">Register Guitar</div>
    </div>
    <div id="content">
        <div id="shop_list">
            <div id="shop_list_headline">Guitars</div>
            <div id="shop_list_search_closed">
                <div id="search_top">
                    <div id="search_headline">Search Options:</div>
                    <i id="toggle_search_box_icon" class="fa-light fa-down" onclick="open_shop_list_search()"></i>
                </div>
                <form id="search_form" method="get" action="/searchShop">
                    <div class="search_item">
                        <div>
                            <i class="fa-light fa-shop"></i>
                        </div>
                        <input name="shop_name" type="text" placeholder="Shop name">
                    </div>
                    <div class="search_item">
                        <div>
                            <i class="fa-light fa-box"></i>
                        </div>
                        <select name="type">
                            <option value="" selected hidden>Shop type</option>
                            <option value="Guitars Shop">Guitars Shop</option>
                            <option value="Phones Shop">Phones Shop</option>
                            <option value="TVs Shop">TVs Shop</option>
                        </select>
                    </div>
                    <div class="search_item">
                        <div>
                            <i class="fa-light fa-location-dot"></i>
                        </div>
                        <input name="address" type="text" placeholder="Shop address">
                    </div>
                    <button>Search</button>
                </form>
            </div>
            <div id="shop_list_content">
            <%for (var i = 0; i < guitars.length; i++) {%>
                    <div class="shop_box" onclick="selectGuitar('<%=guitars[i].name%>','<%=guitars[i].type%>','<%=guitars[i].manufacturer%>','<%=guitars[i].stringCount%>','<%=guitars[i].price%>')">
                    <div class="shop_data">
                        <div>
                            <div class="shop_name">
                                <%=guitars[i].name%>
                            </div>
                            <div class="shop_type">
                                <% if(guitars[i].type == "bass"){ %>
                                    <i class="fa-light fa-mandolin" id="shop_type_icon"></i>
                                <% } else if(guitars[i].type == "electric") { %>
                                    <i class="fa-light fa-guitar-electric" id="shop_type_icon"></i>
                                <% } else if(guitars[i].type == "acoustic") { %>
                                    <i class="fa-light fa-guitar" id="shop_type_icon"></i>
                                <% } %>
                                <%=guitars[i].type%>
                            </div>
                        </div>
                        
                        <div class="shop_info">
                            <%=guitars[i].price%>
                            <i class="fa-light fa-dollar-sign" class="shop_type_icon_tag"></i>
                        </div>
                    </div>
                </div>
            <%}%>
            </div>
        </div>
        <div id="mainshop_box">
            <div id="mainshop_headline">Selected Guitar Name</div>
            <div id="mainshop_content_box">
                <div id="mainshop_content_top">
                    <div id="mainshop_content_data">
                        <div class="mainshop_content_item">
                            <div>
                                <i class="fa-light fa-shop"></i>
                            </div>
                            <div class="mainshop_content_text" id="mainguitar_content_item_name">Selected Guitar Name</div>
                        </div>
                        <div class="mainshop_content_item">
                            <div>
                                <i class="fa-light fa-box"></i>
                            </div>
                            <div class="mainshop_content_text" id="mainguitar_content_item_type">Selected Guitar Type</div>
                        </div>
                        <div class="mainshop_content_item">
                            <div>
                                <i class="fa-light fa-circle-info"></i>
                            </div>
                            <div class="mainshop_content_text" id="mainguitar_content_item_manufacturer">Selected Guitar Manufacturer</div>
                        </div>
                        <div class="mainshop_content_item">
                            <div>
                                <i class="fa-light fa-tilde"></i>
                            </div>
                            <div class="mainshop_content_text" id="mainguitar_content_item_stringCount">Selected Guitar string Count</div>
                        </div>
                        <div class="mainshop_content_item">
                            <div>
                                <i class="fa-light fa-dollar-sign"></i>
                            </div>
                            <div class="mainshop_content_text" id="mainguitar_content_item_price">Selected Guitar Price</div>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </div>





    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Register Guitar,</h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="/registerGuitar">
                        <div class="register_item">
                            <div>
                                <i class="fa-light fa-guitar"></i>
                            </div>
                            <input name="name" type="text" placeholder="Guitar name">
                        </div>
                        <div class="register_item">
                            <div>
                                <i class="fa-light fa-box"></i>
                            </div>
                            <select name="type">
                                <option value="acoustic">acoustic</option>
                                <option value="electric">electric</option>
                                <option value="bass">bass</option>
                            </select>
                        </div>
                        <div class="register_item">
                            <div>
                                <i class="fa-light fa-circle-info"></i>
                            </div>
                            <input name="manufacturer" type="text" placeholder="Manufacturer">
                        </div>
                        <div class="register_item">
                            <div>
                                <i class="fa-light fa-tilde"></i>
                            </div>
                            <input name="stringCount" type="number" min=0 max=12 placeholder="String count">
                        </div>
                        <div class="register_item">
                            <div>
                                <i class="fa-light fa-dollar-sign"></i>
                            </div>
                            <input name="price" type="number" min=0 placeholder="Price">
                        </div>
                        <button id="register_button" type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"></script>
    <script src="js/shops.js"></script>
</body>
</html>