extends layout_noheader
block layout-content
  script.
    $('.Details').click(function () {
    var elmId = $(this).attr("id");
    getDetails(elmId);
    });
    $('.Edit').click(function () {
    var elmId = $(this).attr("id");
    getEdit(elmId);
    });
    $('.Delete').click(function () {
    var elmId = $(this).attr("id");
    getDelete(elmId);
    });
    $('.Create').click(function () {
    var elmId = $(this).attr("id");
    getCreate(elmId);
    });
    function getCreate(id) {
    $.get('/products/Create', {}, function (data, status) {
    $("#maindiv").html(data);
    })
    }
    function getDelete(id) {
    $.get('/products/delete', { "id": id }, function (data, status) {
    $("#maindiv").html(data);
    })
    }
    function getEdit(id) {
    $.get('/products/edit', { "id": id }, function (data, status) {
    $("#maindiv").html(data);
    })
    }
    function getDetails(id) {
    $.get('/products/AdminDetails', { "id": id }, function (data, status) {
    $("#maindiv").html(data);
    })
    }
  h1 Products List
  p
    button#Create.Create.btn.btn-primary(type='button') Create
  table.table
    thead
      tr
        each val, key in products_test[0]
          th #{key}
        th
    tbody
      each item in products_test
        tr
          each val, key in item
            td #{val}
          td
            button.Edit.btn.btn-primary(type='button' id=item.ProductID) Edit
            |  
            button.Details.btn.btn-primary(type='button' id=item.ProductID) Details
            |  
            button.Delete.btn.btn-primary(type='button' id=item.ProductID) Delete
